<!-- The content below is only a placeholder and can be replaced. -->
<div id="London" class="tabcontent">
  <h2>Welcome to Angular App</h2>
  <h3>Please add the details.</h3>
</div>

<div id="Paris" class="tabcontent">
  <h2>Welcome to Angular App</h2>
  <h3>Details Displayed.</h3>
</div>

<!-- routerLink="addEmp" -->
<a [routerLink]="['add-emp']">
  <button class="tablink" (click)="openCity('London', this, 'red')" id="defaultOpen">
    Add Data</button>
</a>
<a [routerLink]="['show-emp']">
  <button class="tablink" (click)="openCity('Paris', this, 'green')">Show Data</button>
</a>
<router-outlet></router-outlet>